.headerWrapper {
  width: 100%;
  border-radius: 10px;
}

.header {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
}

.left {
  font-weight: 600;
}

.logoutBtn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: white;
  transition: 0.3s ease;
}

.logoutBtn:hover {
  cursor: pointer;
}
